* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 960px;
  margin: 50px auto;
}

.list:nth-child(odd) {
  background-color: #acabac;
}

.list-text {
  padding: 20px;
}

.boxes {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box:first-child {
  background-color: orange;
}

.box:nth-child(2) {
  margin: 0 5% 40px;
}

.box:nth-child(5) {
  margin: 0 5% 40px;
  background-color: orange;
}

.box:nth-child(8) {
  margin: 0 5% 50px;
}

.box:last-child {
  background-color: orange;
}
